# Copied to the project .env by setup-choice-emquant.sh. Do not commit secrets.
CTP_PROFILE=simnow
CTP_BROKER_ID=9999
CTP_USER_ID=
CTP_PASSWORD=
CTP_INSTRUMENTS=IM2609,IM2608,IF2609,IF2608,IH2609,IH2608,IC2609,IC2608
SIMNOW_MD_FRONT=tcp://182.254.243.31:30011
CHART_HOST=127.0.0.1
CHART_PORT=8000
CTP_MARKET_URL=http://127.0.0.1:8000
